# Python
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
*.env

# Flask
instance/
*.sqlite
*.db

# React
/node_modules
/build
/.env

# PostgreSQL
*.log
*.sql
*.sqlite

# VSCode
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db

# IDEs
.idea/

# .env files
.env
